{% extends 'base.html' %}
{% block title %}Cart Page{% endblock %}
{% load static %}
{% block content %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Shopping Cart</h2>
                    <div class="page_link">
                        <a href="{% url 'shop:index' %}">Home</a>
                        <a href="#">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Remove</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td>
                                        <a href="{% url 'shop:detail' product.category product.subcategory product.id %}">
                                            <img src="{{ product.image.url }}" width="100" height="100"
                                                 alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <div class="media-body">
                                            <h5>{{ product.name }}</h5>
                                        </div>
                                    </td>
                                    <td>
                                        <form action="{% url 'cart:cart_add' product.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.update }}
                                            <input type="submit" value="Update" class="btn btn-info">
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url 'cart:cart_remove' product.id %}">Remove</a>
                                    </td>
                                    <td>
                                        <h5>Rs. {{ item.price }}</h5>
                                    </td>
                                    <td>
                                        <h5>Rs. {{ item.total_price }}</h5>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class="bottom_button">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>Rs. {{ cart.get_total_price }}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner">
                                    <a class="gray_btn" href="{% url 'shop:index' %}">Continue Shopping</a>
                                    <a class="main_btn" href="{% url 'checkout:order_create' %}">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
{% endblock %}