{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% load static %}
{% block content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Login/Register</h2>
                    <div class="page_link">
                        <a href="{% url 'shop:index' %}">Home</a>
                        <a href="{% url 'accounts:register' %}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Login Box Area =================-->
    <section class="login_box_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img style="max-width: 100%; height: auto" src="{% static 'img/login.jpg' %}" alt="">
                        <div class="hover">
                            <h4>New to our website?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of
                                this is the</p>
                            <a class="main_btn" href="{% url 'accounts:login' %}">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner reg_form">
                        <h3>Create an Account</h3>
                        <form class="row login_form" action="{% url 'accounts:register' %}" method="post"
                              id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                            <div>
                                {% if error_message %}
                                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                                {% endif %}
                            </div>

                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                       placeholder="First Name">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                       placeholder="Last Name">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="Username">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Email Address">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="phone_number" name="phone_number"
                                       placeholder="Phone Number">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password_repeat" name="password_repeat"
                                       placeholder="Confirm password">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Keep me logged in</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn submit_btn">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->
{% endblock %}

