{% extends 'base.html' %}
{% block title %}Contact Page{% endblock %}
{% block content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Contact Us</h2>
                    <div class="page_link">
                        <a href="{% url 'shop:index' %}">Home</a>
                        <a href="{% url 'contact:contact' %}">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area p_120">
        <div class="container">
          <div class="mapouter"><div class="gmap_canvas"><iframe width="1200" height="700" id="gmap_canvas" src="https://maps.google.com/maps?q=Purbanchal%20University%20School%20Of%20Engineering%20and%20Technology&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:700px;width:1200px;}.gmap_canvas {overflow:hidden;background:none!important;height:700px;width:1200px;}</style></div>
            <div class="row">
                <div class="col-lg-3 mt-lg-5">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Biratnagar, Morang</h6>
                            <p>Purbanchal University School Of Engineering and Technology</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6>
                                <a href="#">021-565326</a>
                            </h6>
                            <p>Mon to Fri 10am to 5pm</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6>
                                <a href="#">pu@gmail.com</a>
                            </h6>

                        </div>
                    </div>
                </div>
{#                <div class="col-lg-9 mt-lg-5">#}
{#                    <form class="row contact_form"  method="post" id="contactForm"#}
{#                          novalidate="novalidate">#}
{#                        {% csrf_token %}#}
{#                        <div class="col-md-6">#}
{#                           {{ form.as_p }}#}
{#                        </div>#}
{#                        <div class="col-md-12 text-right">#}
{#                            <button type="submit" value="submit" class="btn submit_btn">Send Message</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
                  <div class="col-lg-9 mt-lg-5">
                    <form class="row contact_form"  method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->
{% endblock %}