{% extends 'base.html' %}
{% block title %}Confirmation Page{% endblock %}
{% block content %}    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Order Confirmation</h2>
                    <div class="page_link">
                        <a href="{% url 'shop:index' %}">Home</a>
                        <a href="#">Confirmation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Order Details Area =================-->
    <section class="order_details p_120">
        <div class="container">
            <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
            <div class="row order_d_inner">
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Order Info</h4>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    <span>Order number</span> : {{ order.id }}</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Date</span> : {{ order.created }}</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Total</span> : Rs. {{ cart.get_total_price }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Billing Address</h4>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    <span>Country</span> : {{ order.country }}</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>City</span> : {{ order.city }}</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Zip code </span> : {{ order.postal_code }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Shipping Address</h4>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    <span>Country</span> : {{ order.country }}</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>City</span> : {{ order.city }}</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Zip code </span> : {{ order.postal_code }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                        <tr>
                            <td>
                                <p>{{ item.product.name }}</p>
                            </td>
                            <td>
                                <h5>x {{ item.quantity }}</h5>
                            </td>
                            <td>
                                <p>Rs{{ item.quantity }}*{{ item.product.name }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>Rs. {{ cart.get_total_price }}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Order Details Area =================-->
{% endblock %}